@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Reset*/

html, body, #app {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* This works for WebKit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
